<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
      >Trivias App</a
    >
    <div class="spacer"></div>
    <form
      class="d-flex nav__form"
      role="search">
      <input
        class="form-control me-2 text-dark bg-light"
        type="search"
        placeholder="Buscar sala"
        aria-label="Buscar sala" />
    </form>
    <div class="spacer"></div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-size: 20px"
          ><i class="fa-solid fa-moon"></i
        ></a>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn text-white nav-link btn-dark">
          Log out
        </button>
      </li>
    </ul>
  </div>
</nav>
