@import './../../../app.component.scss';
.header{
    background-color: $card-bg-color;
    height: 80px;
    display: flex;
    flex-direction: column;
    .header__title {
        h3{
            font-weight: $extrabold ;
        }
    }
    .header__footer{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}