@import './../../../app.component.scss';

.spacer{
  flex: 1 1 auto;
}
.navbar{
  background: $dark-accent;
  .navbar-brand, .nav-link{
    color: $white;
  }
  .nav__form{
    .form-control{
      border: 0px;
      border-bottom: 3px solid $dark-accent;
      margin-bottom:-3px;
      border-radius: 10px;
      box-shadow: none;
      transition: border-bottom 300ms ease-in-out;
    }
    :focus{
    border-bottom: 3px solid $accent;
    }

  }
}
