@import './partials/colors';
@import './partials/fonts';
@import './partials/media-queries';
@import './partials/mixins';
@import './partials/variables';


.some-code{
  @include widthHeight(500px, 300px);
  color: $text-primary-color;
  border-radius: $card-border-radius;
  background-color: $card-bg-color;
  h2{
    font-size: $h2-font-size;

    @include screenSizesMin(phone){
      color: $black;
    }
    @include screenSizesMin(tablet){
      color: $red;
    }
  }
}
