<div class="card m-3">
  <h5 class="card-header px-3 py-3 border-dark">Card title</h5>
  <div class="card-body">
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <div class="border-dark d-flex justify-content-evenly p-3">
    <div class="participants">
      <i class="fa-solid fa-user"></i>
      <span class="ms-1">10</span>
    </div>
    <div class="questions">
      <i class="fa-solid fa-bookmark"></i>
      <span class="ms-1">15</span>
    </div>
    <div class="score">
      <i class="fa-solid fa-circle-question"></i>
      <span class="ms-1">80%</span>
    </div>
  </div>
</div>
